<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Url" value="http://google.com" />
    <add key="RunAsync" value="true" />
        <!-- Browsers used for testing. To add a browser, add the key below and modify Constants.cs 
        and UITestBase to account for the new browser -->
    <add key="Firefox" value="true"/>
    <add key="IE" value="false"/>
    <add key="Chrome" value="true" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>